#closure-tracker-main-panel {
  position: fixed;
  bottom: 0px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 13px;
  width: 100%;
}

#closure-tracker-main-panel p {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: white;
  width: 100px;
  margin: 0px auto;
  cursor: pointer;
}

#closure-tracker-expanded-panel {
  border-top: 2px solid black;
  background-color: white;
  width: 100%;
  height: 320px;
}

#ctracker-event-panel {
  width: 800px;
  margin: 5px 0px;
}

#ctracker-options-panel {
  text-align: left;
  margin: 5px 15px;
}

#ctracker-options-panel span {
  cursor: pointer;
  margin-left: 15px;
  color: green;
}

#ctracker-options-panel .ctracker-listener-count {
  cursor: default;
  color: red;
}

.ctracker-event-aggregated, .ctracker-event-activity {
  overflow-y: scroll;
  text-align: left;
  height: 280px;
  width: 360px;
  display: inline-block;
  margin: 10px;
}

.ctracker-event-activity-title {
  color: green;
  margin-bottom: 5px;
}

.ctracker-event-activity-exclude input {
  width: 320px;
}

.ctracker-event-activity-list div {
  cursor: pointer;
  color: blue;
}

.ctracker-event-activity-list div:hover {
  background-color: lightgrey;
}

.ctracker-event-aggregated table {
  width: 280px;
}
.ctracker-event-aggregated table th {
  border-bottom: 1px solid black;
  font-size: 14px;
  color: gray;
}
