.ctracker-panel-padding {
  padding-bottom: 360px !important;
}

#closure-tracker-main-panel {
  position: fixed;
  bottom: 0px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 13px;
  width: 100%;
}

#closure-tracker-main-panel p {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
  width: 100px;
  margin: 0px auto;
  cursor: pointer;
}

#closure-tracker-expanded-panel {
  background-color: white;
  width: 100%;
  height: 200px;
  border: 1px solid;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 71px;
}

#ctracker-event-panel {
  width: 800px;
  margin: 5px 0px;
}

#ctracker-options-panel {
  text-align: left;
  margin: 5px 15px;
}

#ctracker-options-panel span {
  cursor: pointer;
  margin-left: 15px;
  color: green;
}

#ctracker-options-panel .ctracker-listener-count {
  cursor: default;
  color: red;
}

.ctracker-event-aggregated, .ctracker-event-activity,
  .ctracker-event-activity-gauge {
  text-align: left;
  height: 280px;
  width: 360px;
  display: inline-block;
  margin: 10px;
}

.ctracker-label{
  color: green;
}

.eps-label{
  padding-left: 60px;
}

.ctracker-event-aggregated{
  width: 600px;
}
#ctracker-listener-line {
  width: 200px;
}

.ctracker-event-gauge{
  margin-left: 200px;
  margin-top: 50px;
}
.ctracker-event-activity-gauge {
  float: left;
}

.ctracker-event-activity{
  overflow-y: scroll;
}
.ctracker-event-activity-title {
  color: green;
  margin-bottom: 5px;
}

.ctracker-event-activity-exclude input {
  width: 320px;
}

.ctracker-event-activity-list div {
  cursor: pointer;
  color: blue;
}

.ctracker-event-activity-list div:hover {
  background-color: lightgrey;
}

.ctracker-event-aggregated table {
  width: 280px;
}
.ctracker-event-aggregated table th {
  border-bottom: 1px solid black;
  font-size: 14px;
  color: gray;
}

/* new styles */
#ctracker-event-listener-chart {
  width: 400px;
  height: 190px;
  margin-left: 20px;
  float: left;
}
#ctracker-event-type-chart{
  width: 400px;
  height: 190px;
  float: left;
}
.highcharts-legend {
  display:none;
}
#ctracker-events-per-second-gauge {
  float: left;
  margin-top: -10px;
  margin-left: -2px;
  margin-right: -170px;
}

#ctracker-event-logger {
  float: left;
  border: 1px solid;
  width: 300px;
  position: relative;
  height: 190px;
}

#ctracker-event-logger textarea {
  width: 300px;
  top: 0px;
  left: 0px;
}

#ctracker-event-logs{
  height: 170px;
  list-style-type: none;
}

#ctracker-event-logs-container {
  overflow-y: scroll;
}

#ctracker-controls {
  width: 125px;
  height: 70px;
  float: left;
  margin-top: 126px;
  margin-left: -128px;
}

#ctracker-controls button {
  background-color: #A5B8DA;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A5B8DA), color-stop(100%, #7089B3));
  background-image: -webkit-linear-gradient(top, #A5B8DA, #7089B3);
  background-image: -moz-linear-gradient(top, #A5B8DA, #7089B3);
  background-image: -ms-linear-gradient(top, #A5B8DA, #7089B3);
  background-image: -o-linear-gradient(top, #A5B8DA, #7089B3);
  background-image: linear-gradient(top, #A5B8DA, #7089B3);
  border-top: 1px solid #758FBA;
  border-right: 1px solid #6C84AB;
  border-bottom: 1px solid #5C6F91;
  border-left: 1px solid #6C84AB;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  -webkit-box-shadow: inset 0 1px 0 0 #AEC3E5;
  -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
  box-shadow: inset 0 1px 0 0 #AEC3E5;
  color: white;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #64799E;
  width: 100px;
  margin-top: 17px;
}

#ctracker-controls button:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
    background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
    background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
    background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
    background-image: -o-linear-gradient(top, #9badcc, #687fa6);
    background-image: linear-gradient(top, #9badcc, #687fa6);
    border-top: 1px solid #6d86ad;
    border-right: 1px solid #647a9e;
    border-bottom: 1px solid #546685;
    border-left: 1px solid #647a9e;
    -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
    -moz-box-shadow: inset 0 1px 0 0 #a5b9d9;
    box-shadow: inset 0 1px 0 0 #a5b9d9;
    cursor: pointer;
  }

#ctracker-controls button:active {
    border: 1px solid #546685;
    -webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
  }


#ctracker-event-logger .text-core .text-wrap .text-tags .text-tag .text-button
  a.text-remove {
    height: 7px;
  }
